.header{
  position:relative;
  top:0px;
  left:0;
  width:100%;
}

.hrnet{
  display:flex;
  width:100%;
  text-align:center;
  color:lightGrey;
  font-size:30px;
  font-weight:bold;
  
}

.logo{
  width:100px;
  height:100px;
}

.application_Title{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  width:100%;
  background-color:#001c30;
  text-shadow: 0px 10px 10px lightGrey;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:100%;
  text-align:center;
  background-color:#2c2c60;
}

.createLink.active{
  background-color:#2c2c60;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow:visible;

} 
.showLink.active{
  background-color:#2c2c60;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  overflow:visible;

  
} 

.createLink{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  text-decoration:none;
  background-color:#001c30;
  text-align:center;
  padding:20px;
  list-style:none;  
  height:90px;
  width:50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 15px;
  
  overflow:hidden;
  
  color:lightGrey;
  font-weight:900;

}




.showLink{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  text-decoration:none;
  text-align:center;
  padding:20px;
  list-style:none;  
  height:90px;
  width:50%;
  color:lightGrey;
  font-weight:900;
  border-bottom-left-radius: 15px;
  overflow:visible;
  background-color:#001c30;
  
}

