.header{
  position:relative;
  top:0px;
  left:0;
  width:100%;
}

.hrnet{
  display:flex;
  width:100%;
  text-align:center;
  color:lightGrey;
  font-size:30px;
  font-weight:bold;
  
}

.logo{
  width:100px;
  height:100px;
}

.application_Title{
  display:flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  width:100%;
  background-color:#001c30;
  text-shadow: 0px 10px 10px lightGrey;
}

.nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  width:95%;
  text-align:center;
  background-color:#001c30;
}



.createLink{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  text-decoration:none;
  text-align:center;
  padding:20px;
  list-style:none;  
  height:90px;
  width:50%;
  
  color:lightGrey;
  font-weight:900;

}




.showLink{
  display:flex;
  justify-content:flex-end;
  align-items:center;
  text-decoration:none;
  text-align:center;
  padding:20px;
  list-style:none;  
  height:90px;
  width:50%;
  color:lightGrey;
  font-weight:900;
  
}

.active{
  background-color:blue;
}