.CalendarIcon { /* Styles for the Calendar Icon */

  padding: 0 !important;
font-size: 1.5vw;
  position:absolute;
  right:0.4vw;
  z-index:0;  
}

.birthDate,{
  margin:0;
  lineheight: 2;
  font-size: 1vw;
  z-index:0;
  background-color: transparent;
  width:100%;
}


.startDate{
  margin:0;
  lineheight: 2;
  font-size: 1vw;
  z-index:0;
  background-color: transparent;
  width:100%;
}


.wrapper { /* Styles for the wrapper element */
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 5px; 
  margin-top:5px;
  width:100%;
}

.wrapper div { /* Styles for div elements inside .wrapper */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

input {
  padding:0 5px !important;
}
