.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  order: 0;
  width: 100%;
  color: lightGrey;
  font-weight: bold;
  margin: 100px;
}

.form_group{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding: 10px 0 ;
}

.container_infos {
  order:1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  
  
}

.employee_Group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}


.container_employee_infos {
  display: flex;
  justify-content: space-between;
  background-color: #022138;
  opacity: 0.8;
  width: 45%;
  padding: 20px;
  border: 1px solid lightGrey;
  border-radius: 10px;
}

.container_employee_infos h2 {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  
  text-align: end

}

.container_contact_infos {
  display: flex;
  justify-content: space-between;
  background-color: #022138;
  opacity: 0.8;
  width: 45%;
  padding: 20px;
  border: 1px solid lightGrey;
  border-radius: 10px;
}

.contact_Group{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
}

.container_contact_infos h2 {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  
  text-align: end

}

.container_button {
  display: flex;
  order:2;
  justify-content: center;
  width: 100%;
}

.container_corps_infos {
  display: flex;
  justify-content: space-between;
  background-color: #022138;
  padding:20px;
  width: 100%;
  border: 1px solid lightGrey;
  border-radius: 10px;
}

.onboarding_Group {
  display: flex;
  justify-content: space-around;
  width: 90%;
  padding: 10px;
}

.onboarding_Group .form_group {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 30%;
  padding: 10px;
  border-radius: 5px;
}

.container_corps_infos h2 {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  -webkit-text-orientation: mixed;
  text-orientation: mixed;
  
  text-align: end

}

.submit_button {
  display: flex;
  justify-content: center;
  background-color: orange;
  width: 100px;
  padding: 10px 20px;
}

.error_Message {
  display: flex;
  position: relative  ;
  justify-content: flex-end;
  color: red;
  font-weight: 500;
  font-size: 12px;
  padding: 5px 0 0 0;
}

.hidden {
  display: none;
}

input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
  font-size:1vw;
  border: 1px solid lightGrey;
}


