.bgContainer{
  position:absolute;
  display:flex;
  justify-content:center;
  align-items:center;
  z-index:1;
  top:0;
  left:0;
  width:100vw;
  height:100vh;
  background-color:black;
  opacity:0.5;
  transition: opacity 0.5s ease;
  
}

.modaleContainer{
  display:flex;
  position:absolute;
  z-index:2;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  padding:20px;
  opacity:1;
  width:60%;
  border-radius:10px;
  background-color:white;
}

.contentContainer button{
  cursor:pointer;
  position:absolute;
  z-index:2;
  font-size:15px;
  right:-10px;
  top:-10px;
  padding:5px;
  font-weight:550;
  height:30px;
  width:30px;
  border-radius:50%;
  border:none;
  color:white;
  background-color:black;

}
