.tableContainer{
  margin:5%;
  display:flex;
  flex-direction:column;
  align-items:center;
  
}

::-webkit-scrollbar {
  display: none; /* Pour les navigateurs WebKit/Blink */
}

::moz-scrollbar {
  display: none; /* Pour les navigateurs Gecko */
}

::-o-scrollbar {
  display: none; /* Pour les navigateurs Opera */
}